<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.unknown.gkmohit.rpa">



    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:name="com.orm.SugarApp"
        tools:replace="android:icon">
        <meta-data android:name="DATABASE" android:value="rpa.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.example" />
        <activity
            android:name=".HomePageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up"
            android:screenOrientation="portrait" >
        </activity>
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_home_page"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StockActivity"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StockProfitActivity"
            android:label="@string/title_activity_stock_profit" >
        </activity>
            android:screenOrientation="portrait" />
        <activity
            android:name=".StocksGoalsActivity"
            android:label="@string/title_activity_stocks_goals"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MoneyTabActivity"
            android:label="@string/title_activity_money_tab" >
        </activity>
        <activity
            android:name=".MoneyCreditActivity"
            android:label="@string/title_activity_money_credit" >
        </activity>
        <activity
            android:name=".MoneyNetworthActivity"
            android:label="@string/title_activity_money_networth" >
        </activity>

    </application>


</manifest>
